h1 {
    text-shadow: 0 0 3px black; 
    font-size: 30pt;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: blue;
}

#homepage {
    
    font-family: 'Raleway', sans-serif;
    padding-left: 600px;
    color: #000080;
    font-size: 18pt;
    box-shadow: 0 0 4px blue;
    text-decoration: none;
    width: 500px;
    height: 300px;
    border: 1px solid blue;
    padding-right: 350px;
   

    
}
